ul{
    display: flex;
    gap: 20px;
    padding-bottom: 20px;
}

a{
    color: blue;
}

figure{
    transition: all 0.5s ease;
    display: flex;
    align-items: center;
    justify-content:left;
}

figure:hoover{
    filter: grayscale(1);
}

section{
    display: flex;
    align-items: center;
    justify-content: center;
}

h1, h2, p, footer{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}