.menu img{
    float: left;
    width: 148px;
    padding: 18px;
}

.menu ul{
    list-style-type: none; 
    /**removes the bullets. A navigation bar does not need list markers**/
    overflow: hidden;
    position: -webkit-sticky; /**Safari**/
    position: sticky; /**create a sticky navbar**/
    top: 0;

}
.menu li{
    float: right;
}

.menu li a{
    display: block;
    color: black;
    text-align: center;
    padding: 20px 16px;
    text-decoration: none;
}

.menu li a:hover{
    background-color: #FED758;
}

.cabecalho{
    background-color: #00BF93;
    width: auto;
    height: auto;
    padding: 30px;
    text-align: center;
}

.text section{
    align-items: center;
}

.text{
    width: auto;
    height: auto;
    padding: 100px;
    text-align: center;
}

.rodap section{
    background-color: #00BF93;
}